{% extends "index.html" %}

{% block title %} Product Confirm Delete {% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<script type="text/javascript">
$(function(){
    $('input[type=button][value=취소]').click(function(){
        location.href = "{% url 'products:index' %}"
    });
});
</script>

<div id="content">

    <h1>Product Delete</h1>

    <form action="" method="post"> {% csrf_token %}
        <p>"{{ object }}" 상품을 삭제하시겠습니까?</p>
        <input id="submit" type="button" value="취소"/>
        <input id="submit" type="submit" value="확인"/>
    </form>

</div>
{% endblock %}
