<!DOCTYPE html>
<html lang="ko">

<head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}" />
<link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />
<script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    
});
</script>

{% block title %} Gangnam Apt Project {% endblock %}

</head>

<body>

{% include 'header.html' %}

{% block content %}{% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}
</body>
</html>
